/* Page Background Gradient */
body {
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #b94981, #87b1d3);
     overflow-x: hidden;
    margin: 0;
    padding: 0;
    
}
* {
    box-sizing: border-box;
    max-width: 100%;
}
/* Header Background Image */
.header-section {
    background: url("Images/blur.png") no-repeat center center/cover;
    width: 100%;
    padding: 80px 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
}

/* Navigation */
nav {
    background: rgba(250, 214, 214, 0.7);
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

nav a {
    margin: 0 18px;
    text-decoration: none;
    color: rgb(36, 21, 88);
}

nav a:hover {
    color: #d179ae;
}

/* Cards Grid */
.card-container {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    gap: 25px;
    width: 100%;
    padding: 0 10px;
     margin-top: 100px;
     grid-template-rows:25px;
}


.card {
    width: 200px;
    background: rgb(245, 205, 205);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    color: black;
}

.card img {
    width: 100%;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.10);
}

/* Footer */
footer {
    margin-top: 50px;
    padding: 20px;
    background: rgba(231, 170, 170, 0.6);
}

/* Responsive - Tablets */
@media (max-width: 768px) {
    .header-section {
        padding: 60px 15px;
    }

    .card {
        width: 45%;
    }
}

/* Responsive - Mobiles */
@media (max-width: 480px) {
    .header-section {
        padding: 40px 10px;
    }

    .card {
        width: 80%;
    }
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}


